<html>
    <head>
        <title>Members</title>
        <link rel="SHORTCUT ICON" href="../static/images/logo.png" type="image/png"/>
        
    </head>
    <body>
        <div class="github-card" data-github="harry-hov" data-width="240" data-height="300" data-theme="medium"></div>
        <div class="github-card" data-github="abhitidarbar" data-width="240" data-height="300" data-theme="medium"></div>
        <div class="github-card" data-github="udaymewada" data-width="240" data-height="300" data-theme="medium"></div>
        <div class="github-card" data-github="karina-0705" data-width="240" data-height="300" data-theme="medium"></div>
    </body>

    <script src="../static/js/jsGit/widget.js"></script>

</html>