<html>
    <head>
        <title>Members | Enzaimz</title>
        <link rel="SHORTCUT ICON" href="../static/images/logo.png" type="image/png"/>   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <script type="text/javascript" src="../static/js/script.js"></script>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
    </head>
    <body>

        <!--Nav bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <dlv class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html">
                        <span>
                            <img class="" src="../static/images/logo.png" height="22" width="22"/>
                            Enzaimz
                        </span>
                    </a>
                </dlv>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">  
                        <li><a href="../templates/members.html" title="Members | Enzaimz">Members</a></li>
                        <li><a href="../templates/about.html" title="About | Enzaimz">About Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" layout-align="center center">
            <div>
                <br><br><br>
                <h1 layout-align="center">Members</h1>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <br><br>
                    <div class="github-card" data-github="harry-hov" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
                <div class="col-sm-3">
                    <br><br>
                    <div class="github-card" data-github="abhitidarbar" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
                
                <div class="col-sm-3">
                    <br><br>
                    <div class="github-card" data-github="abhinaam" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
                
                <div class="col-sm-3">
                    <br><br>
                    <div class="github-card" data-github="udaymewada" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
              
                <div class="col-sm-3">
                    <br><br>
                    <div class="github-card" data-github="karina-0705" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
                <div class="col-sm-3">
                        <br><br>
                        <div class="github-card" data-github="Sahilbabani" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
            </div>
        </div>
        <br><br>
    </body>

    <script src="../static/js/jsGit/widget.js"></script>

</html>
