<html>
    <head>
        <title>Members</title>
        <link rel="SHORTCUT ICON" href="../static/images/logo.png" type="image/png"/>   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    </head>
    <body>
        <div class="container" layout-align="center center">
            <div>
                <br><br>
                <h1 layout-align="center">Members</h1>
                <br><br>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="github-card" data-github="harry-hov" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
                <div class="col-sm-3">
                    <div class="github-card" data-github="abhitidarbar" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
                <div class="col-sm-3">
                    <div class="github-card" data-github="udaymewada" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
                <div class="col-sm-3">
                    <div class="github-card" data-github="karina-0705" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
                <div class="col-sm-3">
                        <br><br>
                        <div class="github-card" data-github="Sahilbabani" data-width="250" data-height="300" data-theme="medium"></div>
                </div>
            </div>
        </div>
        <br><br>
    </body>

    <script src="../static/js/jsGit/widget.js"></script>

</html>